.companies {
    &-logo {
        display: inline-block;
        width: 10rem;
        position: absolute;
        top: 15%;
        transform: translate(-50%, -50%);
        &--container {
            width: 100%;
            min-width: 100%;
            height: 10rem;
            max-height: 10rem;
            overflow: hidden;
        }
    }
    &-h1 {
        font-size: $medium-font-size;
        padding: 2rem 0;
    }
    
}
.news-container.companies {

    text-align: center;
    .news-heading--text {
        display: block;
    }
}
p.news-body.companies-body {
    text-align: left;
    padding-top: 0;
}

// **********************************  MEDIA QUERIES **********************************

@media (max-width: 1200px) {
    
}

@media (max-width: 948px) {
   
}

@media (max-width: 636px) {
    .news-header {
        overflow-wrap: break-word;
        h2.text-left {
            font-size: $medium-font-size;
        }
    } 
}

@media (max-width: 372px) {
    .news-header {
        h2.text-left {
            font-size: 20px;
        }
    } 
}