*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body, html {
    margin: 0;
    padding: 0;
}

html {
    font-size: .625; //1 rem = 10px : 10px/16px = 62.5% 
}

a,
a:link,
a:visited {
    color: #ffffff;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

p {
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}



button:focus {outline:0;}
li:focus {outline:0;}