@import url('https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"');


h1 {
    font-weight: 400;
    color: $yellow;
}

body {
    box-sizing: border-box;   
    font-family: 'montserrat', sans-serif;
}

.lead {
    font-weight: 300;
    color: white;
}

